<!-- {% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %} -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Journal du bord</title>
    <style type="text/css">
        html { padding: 0 50px; }
      
        header { margin: 10em 60px; }
       
        div{position:absolute; right:10px; top:5px; margin: 0 auto;}
        form {padding: 50px; border: 1px grey solid; border-radius:5px; margin: 0 auto;}
    </style>
</head>

<body>
    <header>
      
        {% csrf_token %}
        <!-- <h1>Welcome {{email}}</h1> -->
            <!-- <h1>Journal de Bord<h1> -->
       


        <br><br>

        {% for time_list, date, note in comb_list %}
        
        Date: {{date}} &nbsp; Note: {{note}}
        <br>
        <br>

        {% endfor %}
    </header>

    
    <div>
        <form method="get"  action="/check" id="s">
            {% csrf_token %}
            <input type="text"  name="search">
            <input type="hidden" value="{{uid}}">
            <button type="submit" onclick="location.href='/check/?uid={{uid}}'" form="s">Search</button>
            <button type="button" onclick="/logOut/"><a href="{% url 'log' %}">Log Out</button>
        </form>
     </div>
  

<!-- 
    <form action="/postmessage/" method="post">
        {% csrf_token %}
        <label for="message">Message :</label>
        <input type="text" name="message" value="" placeholder="Your message here"/>
        <input type="submit" value="save"/>
    </form> -->

  
   
 
   
    
</body>
</html>