<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign</title>  <style type="text/css">
       
        button{position:absolute; right:10px; top:5px}
        body {
        background-color: #328f8a;
        background-image: linear-gradient(45deg,#328f8a,#08ac4b);
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: 50px auto;
        
        }
        form { 
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 55px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }
      
    </style>

</head>
<body>
    <form action="post_create" method="post">
        {% csrf_token %}
        Author:
        <input type="text" name="author" required><br><br>
        Note:
        <textarea rows="5" cols="30" name="note" required></textarea>
        <br><br>
        Choose a Receiver:
        <select name="receiver" id="receiver" form="receiverform">
            <option value="collective">Collective Information</option>
            <option value="person1">Person1</option>
            <option value="person2">Person2</option>
    
        </select>
        <br><br>
        <input type="submit" value="Submit"><br><br>
    </form>
    
<div>
    <button type="button" onclick="/logOut/"><a href="{% url 'log' %}">Log Out</button>
</div>
<br><br>



    
</body>
</html>