<!-- {% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %} -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <style type="text/css">
        html { padding: 0 50px; }
        header { margin: 0 0 40px; }
        body {
        background-color: #328f8a;
        background-image: linear-gradient(45deg,#328f8a,#08ac4b);
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        
        }
        .button {
            display: flex;
            flex-direction: column;
            align-items: space-between;
            
            justify-content: center;  

        }
        .button1 {
            background-color: white;
            color: black;
            border: 2px solid #4CAF50; 
            font-size: 4em;
            
            transition-duration: 0.4s;
            
        }
        .button1:hover {
            background-color: #4CAF50; /* Green */
            color: white;
        }
        .button2 {
            background-color: white;
            color: black;
            border: 2px solid blue; 
            font-size: 4em;
           
        }
        .button2:hover {
            background-color: blue;
            color: white;
        }
        .logout{position:absolute; right:10px; top:5px}
     
    </style>
</head>

<body>
    <header>
        {% csrf_token %}
        <h1>Welcome {{email}}</h1>
    </header>


    <br><br>

    <div class="button">
        <button type="button" class="button1" onclick="/create/"><a href="{% url 'create' %}">Create Note</button>
       
        <button type="button" class="button2" onclick="/check/"><a href="{% url 'check' %}">Check Note</button>
    </div>
    
    <div class="logout">
        <button type="button" onclick="/logOut/"><a href="{% url 'log' %}">Log Out</button>
    </div>
  


  
   
 
   
    
</body>
</html>